.appHeader {
    font-size: 55px;
    margin-bottom: 10px;
}

.appContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.leftTodo {
    font-size: 22px;
    font-weight: bold;
    color: #666;
    align-self: flex-end;
}